<!-- join-area -->
<section class="join-area join-md-p fix pt-120 pb-125">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-7">
                <div class="section-title mb-40">
                    <span>Join With Us Today</span>
                    <h2>The journey we will take</h2>
                </div>
                <div class="join-list mb-40">
                    <ul>
                        <li>
                            
                            <p>Imminently recognises that each company will embark on their own journey and will require different services from us. However, in general we see companies and the use of our services following these broad phases:</p>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-check"></i>
                            </div>
                            <p><strong>Incubate</strong>: We will be the custodians of your idea and guide you on the process of forming the idea, building your business and getting you in front of investors and into market.</p>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-check"></i>
                            </div>
                            <p><strong>Grow</strong>: When you've got some success under your belt, we will work with you to tailor our services to support a growing business. This is entirely your decision and we can offer as little or as much as you need</p>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-check"></i>
                            </div>
                            <p><strong>Expand</strong>: You're a success! Whilst we may continue to have a relationship with your idea, we'd be keen to work with you again on your next idea</p>
                        </li>
                    </ul>
                </div>
                <!--<div class="join-btn">
                    <a href="#" class="btn">start 7 day trail</a>
                    <a href="https://www.youtube.com/watch?v=vKSA_idPZkc" class="video-btn popup-video"><i class="fas fa-play"></i></a>
                </div>-->
            </div>
            <!--<div class="col-xl-6 col-lg-5">
                <div class="join-img wow fadeInRight" data-wow-delay="0.2s">
                    <img src="{{relative_url}}/assets/img/features/join_img.png" alt="">
                </div>
            </div>-->
        </div>
    </div>
</section>
<!-- join-area-end -->