<!-- promotion-area -->
<section class="promotion-area dark-section theme-bg section-ptb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5">
                <div class="promotion-img wow fadeInLeft" data-wow-delay="0.2s">
                    <img src="{{relative_url}}/assets/img/promotion/promotion_img.png" alt="">
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-7">
                <div class="section-title mb-50">
                    <span>From idea to execution</span>
                    <h2>Grow Your Business With Imminently</h2>
                </div>
                <div class="row">
                    <div class="col-sm-12 promotion-content mb-35">

                        <p>We offer lots of different services for your company, including:
                    </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="single-promotion-wrap mb-35">
                            <!--<div class="promotion-icon mb-25">
                                <i class="fas fa-pen"></i>
                            </div>-->
                            <div class="promotion-content">
                                <h5>Corporate Collateral</h5>
                                <p>Branding, brochures, marketing material, corporate decks</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-promotion-wrap mb-35">
                            <!--<div class="promotion-icon mb-25">
                                <i class="fas fa-cog"></i>
                            </div>-->
                            <div class="promotion-content">
                                <h5>Pitch Support</h5>
                                <p>We can help you pitch your idea, refine it and get it in front of investors.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="single-promotion-wrap mb-35">
                            <!--<div class="promotion-icon mb-25">
                                <i class="fas fa-pen"></i>
                            </div>-->
                            <div class="promotion-content">
                                <h5>Imminently Platform</h5>
                                <p>Leverage our rapid development platform to get a working prototype in front of investors or customers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-promotion-wrap mb-35">
                            <!--<div class="promotion-icon mb-25">
                                <i class="fas fa-cog"></i>
                            </div>-->
                            <div class="promotion-content">
                                <h5>Infrastructure</h5>
                                <p>Including cloud services, domains, email, collaboration software, programming tools and many more</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="promotion-btn">
                    <a href="#" class="btn">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- promotion-area-end -->