<!-- promotion-area -->
<section class="promotion-area dark-section theme-bg section-ptb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5">
                <div class="promotion-img wow fadeInLeft" data-wow-delay="0.2s">
                    <img src="{{relative_url}}/assets/img/promotion/promotion_img.png" alt="">
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-7">
                <div class="section-title mb-50">
                    <span>Why Cloud Adaptive Framework</span>
                    <h2>Realise Your Product With Confidence</h2>
                </div>
                <div class="row">
                    <div class="col-sm-12 promotion-content mb-35">
                        <p>The Cloud Adaptive Framework ensures you can achieve enterprise innovation faster than the traditional start-up model of building everything from the ground up. The framework ensures that you have complete visibility and control over all code to remove any limitations in your product vision. The framework ensures that you don’t have to cut corners and great future technical debt. The framework provides the flexibly to embrace new cloud and other technology innovations as you continue to scale.</p>
                        <p>The Cloud Adaptive Frameworks integrates best practice SaaS design principles:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="single-promotion-wrap mb-35">
                            <!--<div class="promotion-icon mb-25">
                                <i class="fas fa-pen"></i>
                            </div>-->
                            <div class="promotion-content">
                                <h5>Best Practice</h5>
                                <p>Proven technology components pre-integrated and optimised to support development of any SaaS product.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-promotion-wrap mb-35">
                            <!--<div class="promotion-icon mb-25">
                                <i class="fas fa-cog"></i>
                            </div>-->
                            <div class="promotion-content">
                                <h5>Modern Experience</h5>
                                <p>Pre-existing design system, with pre-development user interface design widgets means you can build your MVP fast.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="single-promotion-wrap mb-35">
                            <!--<div class="promotion-icon mb-25">
                                <i class="fas fa-pen"></i>
                            </div>-->
                            <div class="promotion-content">
                                <h5>Secure & Scalable</h5>
                                <p>Build to comply with enterprise needs, be it government, banking, insurance, or any other heavily regulated industry.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-promotion-wrap mb-35">
                            <!--<div class="promotion-icon mb-25">
                                <i class="fas fa-cog"></i>
                            </div>-->
                            <div class="promotion-content">
                                <h5>Cloud Adaptive</h5>
                                <p>Deployable to any hyperscale cloud provider, with the controls to leverage the preferred underlying infrastructure and platform features, ensuring you are not locked in.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="promotion-btn">
                    <a href="#" class="btn">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- promotion-area-end -->